body {
	font-family: 'Poppins', sans-serif
}


.nav-menu {
	border: 3px solid black;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
}

.nav-title {
	font-weight: bold;
	font-size: 16px;	
}

.nav-link {
	text-align: center;
	margin-right: 10px;
}

.nav-link:hover {
	text-decoration: underline;
	font-weight: bolder;
	font-size: larger;
	cursor: pointer;
}

.nav-link-visited {
	color: blue;
	text-decoration: underline;
}

.menuItems {
	display: flex;
	gap: 1em;
	justify-items: center;
}

footer {

  display: flex;
  width: 100%;
  border: 2px solid #000;
  margin-top: 18%;
}

footer p {
  padding-left: 2%;
}

contact {
  display: none;
}

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact p {
	font-size: larger;
}

.contact li {
  font-size: 18px;
}

.date {
display: flex;
justify-content: flex-end;
}
